<p id="notice"><%= notice %></p>

<h1>Lawsuits</h1>

<table>
  <thead>
    <tr>
      <th>Case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lawsuits.each do |lawsuit| %>
      <tr>
        <td><%= lawsuit.case_id %></td>
        <td><%= link_to 'Show', lawsuit %></td>
        <td><%= link_to 'Edit', edit_lawsuit_path(lawsuit) %></td>
        <td><%= link_to 'Destroy', lawsuit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lawsuit', new_lawsuit_path %>
