<%= form_with(model: advocate, local: true) do |form| %>
  <% if advocate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advocate.errors.count, "error") %> prohibited this advocate from being saved:</h2>

      <ul>
      <% advocate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :advocate_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
